Repository berty/weshnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @berty/tech, @berty/go-internal, @berty/js-internal, @moul

.github/CODEOWNERS:

# default is tech team
* @berty/tech

# internal
/go/internal/* @berty/go-internal
/js/ @berty/js-internal

# bertychat
/go/pkg/bertychat @berty/tech
/api/bertychat.proto @berty/tech

# bertyprotocol
/go/pkg/bertyprotocol/ @berty/go-internal @moul
/api/bertyprotocol.proto @berty/tech @moul

# files at root
/* @moul

chore: SetSeenPosition instead of SetReadingPosition
  api/bertychat.proto
Owners: @berty/tech

chore: SetSeenPosition instead of SetReadingPosition
  api/bertychat.proto
Owners: @berty/tech

feat: add bertychat.proto + small bertyprotocol.proto changes
  api/bertychat.proto
  api/bertyprotocol.proto
  docs/Makefile
  docs/bertychat.swagger.json
  docs/bertyprotocol.swagger.json
  docs/gen.sum
  go/Makefile
  go/pkg/bertyprotocol/api_client.go
  go/pkg/bertyprotocol/api_contact.go
  go/pkg/bertyprotocol/api_contactrequest.go
  go/pkg/bertyprotocol/api_event.go
  go/pkg/bertyprotocol/api_group.go
  go/pkg/bertyprotocol/api_groupinvitation.go
  go/pkg/bertyprotocol/api_stream.go
  go/pkg/bertyprotocol/bertyprotocol.pb.go
  go/pkg/bertyprotocol/client.go
Owners: @berty/tech, @moul, @berty/go-internal

feat: add bertychat.proto + small bertyprotocol.proto changes
  api/bertychat.proto
  api/bertyprotocol.proto
  docs/Makefile
  docs/bertychat.swagger.json
  docs/bertyprotocol.swagger.json
  docs/gen.sum
  go/Makefile
  go/pkg/bertyprotocol/api_client.go
  go/pkg/bertyprotocol/api_contact.go
  go/pkg/bertyprotocol/api_contactrequest.go
  go/pkg/bertyprotocol/api_event.go
  go/pkg/bertyprotocol/api_group.go
  go/pkg/bertyprotocol/api_groupinvitation.go
  go/pkg/bertyprotocol/api_stream.go
  go/pkg/bertyprotocol/bertyprotocol.pb.go
  go/pkg/bertyprotocol/client.go
Owners: @berty/tech, @moul, @berty/go-internal

chore: fix build
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: fix build
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: placeholder code for bertychat package and cmd
  go/pkg/bertyprotocol/client.go
  go/pkg/bertyprotocol/client_test.go
Owners: @berty/go-internal, @moul

chore: placeholder code for bertychat package and cmd
  go/pkg/bertyprotocol/client.go
  go/pkg/bertyprotocol/client_test.go
Owners: @berty/go-internal, @moul

chore: https://github.com/berty/berty/pull/1404#pullrequestreview-298093503
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: https://github.com/berty/berty/pull/1404#pullrequestreview-298093503
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: https://github.com/berty/berty/pull/1404#pullrequestreview-298095046
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: https://github.com/berty/berty/pull/1404#pullrequestreview-298095046
  api/bertychat.proto
  docs/bertychat.swagger.json
  docs/gen.sum
Owners: @berty/tech

chore: « no inits »
  go/.golangci.yml
Owners: @berty/tech
